html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  text-align: center;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

nav {
  /* border: 5px solid red; */
  background-color: orange;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.container {
  /* border: 5px solid red; */
  align-items: center;
  justify-content: center;
}

.dog-image {
  margin: 0 auto;
  display: none;
}

.loader {
  animation: spin 0.5s infinite linear;
  font-size: 50px;
  display: none;
}

.show {
  display: block;
}
